<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>routes</title>
    <link rel="stylesheet" href="static/addroutes.css" type="text/css">
</head>
<body>
    <div class="top1">
        <div class="top2">
            <h2><a href="/index" style="text-decoration: none; color: black;">TAKSi</a></h2>
        </div>
        <div class="top3">
            <div class="button">Contact Us</div>
        </div>
    </div>  
    <div class="box">
        <div class="box1">
            <form method="post" class="box2" >
                <p style="font-size: 36px; text-align: center;"><b>Add Location</b></p>
                <label for="pickup"  ><b>Pick up</b></label><br>
                    <input type="text" id="pickup" name="pickup" placeholder="Add Pickup" required><br/>
                <label for="destination" > <b>Destination</b></label><br>
                    <input type="text" id="destination" name="destination" placeholder=" Add Destination" required><br/>
                <label for="price"><b>Amount </b></label><br/>
                    <input type="text" placeholder="Add Amount" name="price" required><br/>
                <button type="submit" class="btn" style="margin-left:50px ;"><b>Add Routes</b></button>
            </form> 
        </div>
    </div>  
</body>
</html>