<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cab Sign In</title>
    <link rel="stylesheet" href="/static/admin.css" type="text/css"/>
</head>
<body>
    <div class="top1">
        <div class="top2">
            <h2 style="text-decoration: none; color: black;">TAKSi</h2>
        </div>
        <div class="top3">
            <div class="button" >Contact Us</div>
        </div>
    </div>
    <div class="box">
        <div class="box2">
            <form method="post" class="box3" >
                <p style="font-size: 36px; text-align: center;padding-top: 1.25em; color:rgb(255, 242, 0) ;"><b>The best way to get wherever you're going!</b></p>
                
                <div class="content">
                    <p>More than a taxi. Online ride-sharing service.</p>
                    <p>Download <span style="color:rgb(255, 242, 0); text-decoration: underline;">Taksi App</span> and start moving around the city comfortably.</p> 
                </div>

                <table>
                <tr><td>
                <a href="/fulldata"><div class="btn" style="margin-left:170px ;">Show Data</div></a></td>
                </tr></table>
                <!-- <label style="margin-left:100px ;">Forgot <a href="#" style="color: rgb(255, 242, 0);">password?</a></label> -->
                
            </form> 
        </div>
    </div>   
</body>
</html>