<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cab Service</title>
    <link rel="stylesheet" href="/static/driverhome.css" type="text/css"/>
</head>
<body>
 <div class="main">
    <div class="top1">
        <div class="top2">
            <h2 style="position:absolute ; left:20px;">TAKSi</h2>
        </div>
        <div class="top3">
            <!-- <button type="submit" class="button2" href="cabsignin.html">sder</button> -->
            <div class="button" ><a  href="/myride" style="text-decoration:none; ">Bookings</a></div>
            <div class="button">Contact Us</div>
            <div class="button" ><a  href="/driverlogout" style="text-decoration:none; ">Log Out</a></div>
             
        </div>
    </div>
    <div class="box">
        <div class="box1">
        </div>
        <div class="box2">
            <form method="post" action="" class="box3" >
                <p style="font-size: 36px; text-align: center;"><b>Your Cab</b></p><br/>
                    <button type="submit" class="btn" ><a href="/request" style="text-decoration:none;">Show Book Requests</a></button><br>
                    <button type="submit" class="btn" ><a href="/cabbook" style="text-decoration:none;">Add Cab</a></button>
            </form> 
        </div>
    </div>
 </div> 
</body>
</html>