body{
    background-image: url('image/pay3.jpg');
    background-position: center ;
    background-size:cover ;
    background-repeat:no-repeat ;
    margin: 0px;
}
.top1{
    width:1525px;
    height:10vh;
    margin: 0px;
    font-size:30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:10px;
    background-color: rgb(255, 242, 0);
}
.top2{
    width:60vw;
    height:10vh;
    color:black;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    padding:0 0 0 50px;
    position:absolute ; left:-20px; 
}
.top3{
    width:10vw;
    height:10vh;
    position:absolute ; right:10px;
    font-size:24px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.button{
    width:9vw;
    height:5vh;
    padding: 0 2px 0 2px;
    border-radius: 0.5cm;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button a{
    color: black;
}

.button:hover{
    background-color: rgb(66, 64, 64) ;
    color:  rgb(255, 242, 0);
    cursor: pointer;
}
.button a:hover{
    background-color: rgb(66, 64, 64) ;
    color:  rgb(255, 242, 0);
    cursor: pointer;
}
.box{
    width: 1535px;
    height: 670px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly; 
    z-index: -1;
    background-color: rgba(25, 20, 22, 65%);
}
.box1{
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box2{
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3{
    font-size:x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    justify-content: center;
    align-items: center;
    width:400px;
    height:300px;
    border-radius: 10px;
    padding: 30px 30px;
    line-height:41px ;
    /*trbl*/
    background-color: rgba(25, 20, 22, 0.449);
    
}
.select{
    height: 40px;
    width:380px;
    border-radius: 10px;
    margin-left: 12px;
}

input[type=text]{
    width:380px; 
    border-radius:10px;
    height: 30px; 
    border: none;
    padding: 10px;
    background-color: #f1f1f1;
}
.psw{
    width:380px; 
    border-radius:10px;
    height: 30px; 
    border: none;
    padding: 10px;
    background-color: #f1f1f1;
}

.btn{
    background-color: black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width:150px;
    color:white;
    border-radius: 10px;
    padding:12px;
    margin:30px 0px 10px 100px;
    opacity: 1;
    cursor: pointer;

}
.btn:hover{
    background-color: rgb(255, 242, 0);
    color: black;
    opacity: .8;
    border: 2px solid black;
}
.btn a{
    color: white;
}
.btn a:hover{
    color:black;
}